//Custom Colors (leave at top)
$body-color: #1c1917;
$body-bg: #fafaf9;
$primary: #115e59;
$light: #fafaf9;
$dark: #1c1917;
$secondary: #ecfdf5;

// Import the functions & variables (must come after new custom variables)
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

$custom-theme-colors: (
    "alt-light": #f0fdfa,
    "alt-dark": #713f12
);

$theme-colors: (
  "body-color": $body-color,
  "body-bg": $body-bg,
  "primary": $primary,
  "light": $light,
  "dark": $dark,
  "secondary": $secondary,
);

// Merge both maps together here
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// Import Bootsrtap
@import '../node_modules/bootstrap/scss/bootstrap.scss';

// Extra Custom CSS Here

/* https://heropatterns.com/ */
.bubbles-bg-pattern {
  background-color: #fffbeb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23fde68a' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}

.hero-bg-img {
  background-image: url(/images/nathan-dumlao-6vhpy27jdps-unsplash-medium.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
